.app {
  text-align: left;
  margin: auto;
}

@media (min-width: 1401px) {
  .app {
    width: 1400px;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
a, a:visited {
  color: #64aff1;
  text-decoration: none;  
}
a:hover {
  color: #2465a7;
  text-decoration: underline;
}

.opacity-2 {
  opacity: 0.2;
}

/* Burger menu */
/* Individual item */
.bm-item {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 0.9375rem;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 2.25rem;
  height: 1.875rem;
  right: 0.625rem;
  top: 0.625rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 1.5rem;
  width: 1.5rem;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 1.25rem 1.25rem 0;
  font-size: 1.15rem;
}


/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (min-width: 980px) {
  .bm-overlay {
    display: none;
  }
  .bm-burger-button {
    display: none;
  }
  .bm-menu-wrap {
    display: none;
  }
}