.App {
  text-align: left;
  margin: auto;
  padding: 0 10px;
}

@media (max-width: 1400px) {
  .App {
    width: 96%;
  }
}
@media (min-width: 1401px) {
  .App {
    width: 1400px;
  }
}
.App-header {
  font-size: calc(10px + 3vmin);
  color: #333;
  text-align:left;
}

.App-link {
  color: #61dafb;
}

a, a:visited {
  color: #64aff1;
  text-decoration: none;  
}
a:hover {
  color: #2465a7;
  text-decoration: underline;
}